$alfa                :               #F5F7F9;
$beta                :               #232947;
$gamma               :               #F04E23;
$delta               :               #B2B8CE;
$epsilon             :               #25BC42;
$zeta                :               #CBCFD4;
$eta                 :               #FFFFFF;
