$alfa                :               #F5F7F9;
$beta                :               #232947;
$gamma               :               #F04E23;
$delta               :               #B2B8CE;
$epsilon             :               #25BC42;
$zeta                :               #CBCFD4;
$eta                 :               #FFFFFF;
$theta               :               #2199e8;
$iota                :               #9093A2;
$kappa				   		 : 	             #d2b156;
$lambda              :               #6c7480;
$mu                  :               #e4e7ee;
