.login__container{
  background-color: white;
  color:$beta;
  padding:rem-calc(60px);
  box-shadow: 0 2px 15px 0 rgba(12,23,54,0.05);
  border-radius:4px;
}



.login__under{
  margin-top:rem-calc(30px);
}
