.profile__row{
  max-width: rem-calc(800px);
}

.row.profile__row.shadow3{
  margin-bottom:rem-calc(100px);
}

.tabs{
  border:none;
  background:transparent;
}

li.tabs-title{
  width:50%;
  color:$lambda;
  & > a{
    font-size:rem-calc(14px);
    text-transform: uppercase;
    color:$lambda;
    text-align: center;
  }
}

li.tabs-title.is-active{
  background-color:white;
  a{
    color:$beta;
  }
}

.tabs-title>a:focus, .tabs-title>a[aria-selected=true]{
  background:transparent;
}

.tabs-title>a:hover{
  background:transparent;
  text-decoration: none;
}

.tabs-content{
  border:none;
  @extend .form__container;
  margin-bottom:0;
  padding-top:rem-calc(50px);
  padding-bottom:rem-calc(50px);
}



div.formCheckbox__container{
  padding:rem-calc(20px);
  background-color:$alfa;
  border-radius:4px;
  margin-left:0!important;
  margin-right:0!important;
  font-size:rem-calc(14px);
  line-height: rem-calc(28px);
  color:$lambda;
  span{
    font-weight:500;
    color:$beta;
  }
}

.formCheckbox__container-long{
  margin-top:12px;
}

.billing__valid{
  span{
    color:$epsilon;
    font-weight:700;
  }
}

#billingInformation{
  .button-submit{
    margin-bottom:rem-calc(25px);
    margin-top:rem-calc(25px);
  }
  h3{
    font-weight:300;
  }
  p{
    color:$iota;
  }
}

.billing__info{
  margin-top:rem-calc(25px);
}

.meetingOwnerButton{
  height:rem-calc(50px);
  line-height: rem-calc(50px);
  text-transform: uppercase;
  text-align: center;
  font-weight:500;
}

.meetingOwnerButton-invite{
  background-color:$epsilon;
  color:white;
  border-radius:4px;
  &:hover{
    background-color:darken($epsilon, 0.2);
  }
}

.meetingOwnerButton-remove{
  background-color:$gamma;
  color:white;
  border-radius:4px;
  &:hover{
    background-color:darken($gamma, 0.2);
  }
}

.meetingOwnerNumber{
  line-height: rem-calc(50px);
  font-size:rem-calc(18px);
  text-align:center;
}
